.upload-form-container{
    width: 100%;
    height: 100%;
    background-color: var( --theme-light-bg );
}

.upload-video-container{
    z-index: 1;
    border-radius: 8px;
    padding: 3vw;
    width: 100%;
}

table{
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
}

thead{
    background-color: var( --theme-light-grey-bg );
}

th{
    color: var( --white );
    padding: 1vh 0;
    text-align: start;
    font-size: var( --font-size-sm );
}

td{
    padding: 2vh 0;
    text-align: center;
    height: 10vh;
    font-size: var( --font-size-sm );
}

th:first-child,
td:first-child {
    width: 5%;
    color: var( --theme-grey-text );
}

.error{
    height: 20%;
    font-size: var( --font-size-sm );
    color: var( --theme-light-text );
    text-align: start;
    color: var( --orange );
}

td > input{
    width: 100%;
    height: 70%;
    background: none;
    border: none;
    color: var( --theme-light-text );
    font-size: var( --font-size-sm );
}

.page-bottom{
    display: flex;
    justify-content: space-between;
    bottom:0;
    position:fixed;
    width: 80%;
    z-index: 2;
    background-color: var( --theme-light-grey-bg );
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15); 
    padding: 3vh 2vw;
}

tbody {
    display: block;
    height: 74vh;
    overflow: auto;
}

thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;/* even columns width , fix width of table too*/
}

thead {
    width: calc( 100% - 1em )/* scrollbar is average 1em/16px width, remove it from thead width */
}

thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;/* even columns width , fix width of table too*/
}

.rows-buttons-container > button, .submit-upload-form{
    padding: 5px;
    font-size: var( --font-size-sm );
    background-color: var( --green );
    border: none;
    color: var( --theme-light-text );
    cursor: pointer;
}

.submit-upload-form{
    font-size: var( --font-size-md );
    font-weight: bold;
}

@media ( max-width: 600px ){
    th{
        font-size: var( --font-size-xs );
    }
    
    td{
        font-size: var( --font-size-xs );
    }
    
}
