.video-top-container{
    display: flex;
    color: var( --white );
    gap: 5px;
    font-size: var( --font-size-md );
}

.link{
    color: var( --theme-green-text );
    border-bottom: 2px dotted var( --theme-green-text );
}

.show-video-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.detail-options{
    display: flex;
    gap: 20px;
}

.detail-option{
    font-size: var( --font-size-md );
    color: var( --theme-grey-text );
    cursor: pointer;
    position: relative;
}

.detail-option:hover{
    color: var( --theme-light-text );
}

.detail-option::after{
    content: "";
    display: block;
    width: 0%;
    height: 0.3vh;
    border-color: var( --theme-light-text );
    background-color: var( --theme-light-text );
    text-align: left;
    visibility:hidden;
    transition: 0.7s width ease, 0.7s visibility ease;
    position: absolute;
    bottom: -0.2vh;
}

.detail-option:hover::after, .selected-option::after{
    width: 100%;
    visibility: visible;
}

.selected-option{
    color: var( --theme-light-text );
}

.video-details-content-container{
    display: flex;
    flex-direction: column;
    padding: 2vh 0;
}

.video-overview-container, .video-downloads-container, .video-infos-container{
    gap: 20px;
    color: var( --theme-light-text );
    font-size: var( --font-size-md );
}

.description-content{
    color: var( --theme-grey-text );
    font-size: var( --font-size-sm );
    max-height: 20vh;
    text-overflow: ellipsis;
}

.info-container{
    display: flex;
    gap: 10px;
    font-size: var( --font-size-sm );
    align-items: center;
}

.info-title{
    color: var( --theme-grey-text );
}

.info-content{
    color: var( --theme-light-text );
}

#my-video{
    width: 60vw;
}

.vjs-poster{
    background-size: cover !important;
}

.download-video-link{
    font-size: var( --font-size-md );
}

.detail-content{
    visibility: hidden;
    height: 0;
}

.visible{
    visibility: visible;
    height: fit-content;
}