.pagi-container{
    height: 87%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.videos-container{
    display: flex;
    flex-direction: row;
    position: relative;
    flex-wrap: wrap;
    height: 100%;
}

nav > .pagination{
    display: flex;
    gap: 5px;
    color: var( --theme-grey-text );
    font-size: var( --font-size-md );
    list-style: none;
    align-items: center;
    justify-content: center;
}

li > a{
    color: var( --theme-green-text );
}

li.active{
    color: var( --theme-dark-green-text );
}